@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
  --colorDark: #333;
  --colorLight: #fff;
  --colorMid: #ccc;
  --colorPrimary: #e88873;
  --colorSecondary: #b7d1da;
  --borderRadius: 3px;
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: var(--colorDark);
  color: var(--colorLight);
}

.title {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px dotted var(--colorMid);
  width: 50%;
  margin: 2vh auto 0;
}

.span1 {
  color: var(--colorPrimary);
}

.span2 {
  color: var(--colorSecondary);
}

form {
  max-width: 300px;
  margin: 1rem auto;
  display: flex;
}

button {
  background: var(--colorPrimary);
  color: var(--colorLight);
  cursor: pointer;
  padding: 0 1rem;
  transition: var(--transition);
}

button:hover {
  background-color: var(--colorSecondary);
  color: var(--colorDark);
}

.paragraphs {
  margin-top: 1rem;
  padding: 1rem;
}

.paragraphs p {
  margin: 1rem 0;
}
